html{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;     
}

/*Media query*

/*Mobile*/

@media only screen and (max-width: 500px) {
    .mi-color {
        background-color: crimson;
        font-size: 1rem;
        width: 100%;

    }
}

/*Tablet*/
@media only screen and (min-width: 501px) and (max-width: 968px) {
    body {
        background-color: rgb(117, 67, 146);
        font-size: 1rem;
        width: 100%;

    }
}

/*Desktop*/
@media only screen and (min-width: 969px)  {
    body {
        background-color: lightcoral;
        font-size: 1rem;
        width: 100%;

    }
}


/*Encabezado*/

.navbar{
    width: 100%;
    background-image: url('../assets/contenedor.jpg') ; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    float: right;
    
}

a:hover{
    background-color: beige;
}

.logo{
    width: 105px;
    float: right;
    justify-content: end;
}

.logo img{
    width: 100%;
}

.menu ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    
}

.navbar ul{
    float: right;
}

/* main */
.titulo {
    text-align: center;
}

.col{
    text-justify: auto;
    text-align: center;
}

.subtitulo{
    text-align: center;
}

/*footer*/

.foot {
    text-align: center;
    text-decoration: none;
}

.foot a{
    color: black;
}

/* Pagina de miembros*/
.miembros p{
    text-align: left;
    display: grid;
    font-size: 1.5rem;
}

/* Pag de galeria*/

.gal{ 
    width: 300px; 
    height: 350px; 
    object-fit: cover; 
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.carousel-item img{
    max-width: 100%;
    max-height: 400px;
    margin: 100px ; 
}

.vid{
    justify-content: center;
    width: 100%;
    padding-left: 200px;
}

/* Discografia*/

.row{
    margin: 50px;
}

/* Nosotros */
.nos p{
    font-size: 20px;
    text-justify:auto
}

.nos img{
    width: 300px; 
    height: 300px; 
    display: block;
    margin: auto;
}